
        <!-- navbar side -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse">
                <!-- side-menu -->
                <ul class="nav" id="side-menu">
                    <li>
                        <!-- user image section-->
                        <div class="user-section">
                            <div class="user-section-inner">
                                <img src="/images/user.jpg" alt="">
                            </div>
                            <div class="user-info">
                                <div>Jonny <strong>Deen</strong></div>
                                <div class="user-text-online">
                                    admin
                                </div>
                            </div>
                        </div>
                        <!--end user image section-->
                    </li>
                    <!-- <li class="selected"> -->
                    <li class="" id = "linkDashboard">
                        <a href="/admin/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li class="" id = "linkReservation">
                        <a href="/admin/reservation/index"><i class="fa fa-list-alt fa-fw"></i> Reservation</a>
                    </li>
                    <li class="" id = "linkNotification">
                        <a href="/admin/notification/index"><i class="fa fa-info-circle fa-fw"></i> Notification</a>
                    </li>
                    <li class="" id = "linkTransHistory">
                        <a href="/admin/transaction-history/index"><i class="fa fa-info-circle fa-fw"></i> Transaction History</a>
                    </li>
                    <li class="" id = "linkRateFee">
                        <a href="/admin/rate-fee/index"><i class="fa fa-info-circle fa-fw"></i> Rate Fee</a>
                    </li>
                    <li class="" id = "linkScheduleBooking">
                        <a href="/admin/schedule-booking/index"><i class="fa fa-info-circle fa-fw"></i> Schedule Booking</a>
                    </li>
                    <li class="" id = "linkDriverRate">
                        <a href="/admin/driver-rating/index"><i class="fa fa-info-circle fa-fw"></i> Driver Ratings</a>
                    </li>
                    <li class="" id = "linkAds1">
                        <a href="/admin/ads/index"><i class="fa fa-info-circle fa-fw"></i> Ads</a>
                    </li>


                    <li>
                        <a href="#"><i class="fa fa-user fa-fw"></i> User<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class = "" id = "linkDriver">
                                <a href="/admin/user/driver">Driver</a>
                            </li>
                            <li id = "linkUser">
                                <a href="/admin/user/customer">Customer</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- end side-menu -->
            </div>
            <!-- end sidebar-collapse -->
        </nav>
        <!-- end navbar side -->
